html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family:'Courier New', Courier, monospace;
    --option_bg: rgba(64, 64, 64, 0.5);
}

#map {
    height: 100vh;
    width: 100vw;
    position: absolute;
    padding: 1%;
    background-color: #888;
}

#graph {
    position: absolute;
    height: 100vh;
    width: 100vw;
    padding-top: 2.6rem;
    padding-left: 0.5rem;
    background-color: #0e1422;
}

.tab {
    display: None;
}

.tab.active {
    display: block;
}

#overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    padding: 1%;
    pointer-events: none;
    z-index: 1000;
}

#overlay * {
    pointer-events: auto;
}

#top-left {
    position: absolute;
}

#chart-button {
    height: 2rem;
    background-color: var(--option_bg);
    border: solid 1px white;
    cursor: pointer;
}

#switch-tab {
    color: white;
    background-color: var(--option_bg);
    cursor: pointer;
    padding: 0.3em;
    border: solid 1px white;
}

#top-right {
    position: absolute;
    right: 3rem;
}

#controls {
    box-sizing: border-box;
    width: 12rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--option_bg);
    display: flex;
    justify-content: space-between;
    border: solid 1px white;
}

#center {
    height: 2rem;
    background-color: var(--option_bg);
    border: solid 1px white;
    position: absolute;
    right: 3rem;
    bottom: 3rem;
}

#day {
    text-align: right;
    position: absolute;
    right: 0px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background-color: var(--option_bg);
    color: white;
    font-size: 1.5rem;
    border: solid 1px white;
}

#play-pause, #speed1, #speed2 {
    height: 3rem;
}

#country-name {
    position: absolute;
    background-color: var(--option_bg);
    bottom: 30px;
    padding: 1rem;
    height: 12%;
    border: solid 1px white;
    width: 25%;
    left: -20px;
    color: white
}

#country-name li {
    float: left;
    list-style: none;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    flex: 1;
}

#country-name img {
    height: 1.5rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

ul {
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.heading {
    font-size: 1.6rem;
    font-weight: bold;
    width: 100%;
    padding-left: 2rem;
}

#chart-container {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 1100;
    justify-content: center;
    align-items: center;
}

#chart-content {
    background-color: #fff;
    padding: 20px;
    padding-top: 10px;
    border-radius: 16px;
    border: solid 4px #888;
}

.close {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
}

.leaflet-dragging,
.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-container {
  cursor: default;
}

.leaflet-grab,
.leaflet-interactive,
.leaflet-container {
  cursor: default;
}

.leaflet-infected-layer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 400;
}