html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family:'Courier New', Courier, monospace;
    --option_bg: rgba(64, 64, 64, 0.5);
}

#map {
    height: 100vh;
    width: 100vw;
    position: absolute;
    padding: 1%;
    background-color: #888;
}

#graph {
    position: absolute;
    height: 100vh;
    width: 100vw;
    padding-top: 2.6rem;
    padding-left: 0.5rem;
    background-color: #0e1422;
}

.tab {
    display: None;
}

.tab.active {
    display: block;
}

#overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    padding: 1%;
    pointer-events: none;
    z-index: 1000;
}

#overlay * {
    pointer-events: auto;
}

#top-left {
    position: absolute;
}

#chart-button, #settings {
    height: 2rem;
    padding: 2px;
    background-color: var(--option_bg);
    border: solid 1px white;
    border-top: none;
    cursor: pointer;
}

#settings {
    position: absolute;
    border-left: none;
}

#switch-tab {
    color: white;
    background-color: var(--option_bg);
    cursor: pointer;
    font-size: 1.1rem;
    padding: 0.3em;
    border: solid 1px white;
}

#top-right {
    position: absolute;
    right: 3rem;
}

#controls {
    box-sizing: border-box;
    width: 12rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--option_bg);
    display: flex;
    justify-content: space-between;
    border: solid 1px white;
}

#center {
    height: 2rem;
    background-color: var(--option_bg);
    border: solid 1px white;
    position: absolute;
    right: 3rem;
    bottom: 3rem;
}

#day {
    text-align: right;
    position: absolute;
    right: 0px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background-color: var(--option_bg);
    color: white;
    font-size: 1.5rem;
    border: solid 1px white;
    border-top: none;
}

#play-pause, #speed1, #speed2 {
    height: 3rem;
}

#country-name {
    position: absolute;
    background-color: var(--option_bg);
    bottom: 30px;
    padding: 1rem;
    height: 12%;
    border: solid 1px white;
    width: 25%;
    left: -20px;
    color: white
}

#country-name li {
    float: left;
    list-style: none;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    flex: 1;
}

#country-name img {
    height: 1.5rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

ul {
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.heading {
    font-size: 1.6rem;
    font-weight: bold;
    width: 100%;
    padding-left: 2rem;
}

#chart-container, #settings-container {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 1100;
    justify-content: center;
    align-items: center;
}

#settings-container {
    flex-direction: column;
}

#settings-content {
    background-color: rgba(0,0,0,0.85);
    color: white;
    width: 30%;
    border-radius: 1rem;
    border: solid 4px #888;
}

input[type=checkbox] {
    accent-color: #b00;
}

.checkbox-container {
    display: flex;
    width: 6rem;
    justify-content: flex-start;
}

#form-buttons {
    padding: 0 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

#form-buttons button {
    background-color: #a00;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    font-family: 'Courier New', Courier, monospace;
    border: solid 1px #f44;
    padding: 0.5rem 1rem;
    border-radius: 2px 16px 2px 16px;
}

#form-buttons button:hover {
    cursor: pointer;
    background-color: #800;
    border-color: #f00;
}
 
#form-flex {
    display: flex;
    gap: 1.4rem;
    padding: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

#form-flex span {
    display: inline-block;
    text-align: right;
    width: 3rem;
}

label {
    font-size: 1.1rem;
}

input[type=range] {
    accent-color: #b00;
    width: 12rem;
}

.form-heading {
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    border-bottom: solid 1px white;
    padding: 0.65rem;
}

#chart-content {
    background-color: #000;
    color: white;
    padding: 20px;
    padding-top: 10px;
    border-radius: 16px;
    border: solid 4px #888;
}

.close, #close-form {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
}

.leaflet-dragging,
.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-container {
  cursor: default;
}

.leaflet-grab,
.leaflet-interactive,
.leaflet-container {
  cursor: default;
}

.leaflet-infected-layer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 400;
}